<div class="container">
<h1>Database Connection</h1>
<h4>Connections</h4>

<div id="mongodbStatus" class="connection-status border-success connected">
  <div class="flex-left">
    <h4>MongoDB</h4>
    <p>Connected</p>
  </div>
  <span class="circle green"></span>
</div>

</div>
