<div class="container">
  <h1>Welcome to Mongoose 'Students'</h1>
  <ol>
    <li>Connect with Mongoose</li>
    <li>Create data via Model , Schema and save them to DB</li>
    <li>Read out data from DB</li>
  </ol>


</div>