 <h1>Student List</h1>

 <div class="container">
     
    <ul class="student-list">
    {{#each students}}
        
        <div class="student-item">
           {{>student-card}}
            <form>
                <input type="hidden" name="id" value="{{id}}">
                <button class="delete-button" type="submit">Delete</button>
            </form>
        </div>
    {{/each}}
    </ul>

</div>