<div class="container">
<h1>Database Connection</h1>
<h4>Connections</h4>
<div id="mysqlStatus" class="connection-status border-error disconnected">
  <div class="flex-left">
    <h4>MySQL</h4>
    <p>Error connecting</p>
  </div>
  <span class="circle red"></span>
</div>
<div id="mongodbStatus" class="connection-status border-success connected">
  <div class="flex-left">
    <h4>MongoDB</h4>
    <p>Connected</p>
  </div>
  <span class="circle green"></span>
</div>

</div>
