<div class="container">
  <h1>Welcome to handlebars templating</h1>
  <ol>
    <li>Student page lists all students in the API</li>
    <li>Create page can create new students</li>
    <li>Database page lists all connections with DB's</li>
  </ol>
</div>