<div class="container">
        <div class="mok_wrapper">
            <div id="mok" class="mok tall">
                <div id="foam" class="foam"></div>
                <div id="coffee" class="coffee"></div>
                <div id="milk" class="milk"></div>
            </div>
        </div>
        <form name="form" method="POST" action="/coffee/order">
            <h1>My starbucks</h1>
            <div class="input">
                <label class="label">Size</label>
                <label><input type="radio" name="size" value="short"> Short</label>
                <label><input type="radio" name="size" value="tall" checked> Tall</label>
                <label><input type="radio" name="size" value="grande"> Grande</label>
                <label><input type="radio" name="size" value="venti"> Venti</label>
            </div>
            <div class="input input-slider">
                <label class="label">Roast darkness</label>
                <input type="range" name="darkness" id="darkness-slider" min="30" max="70" value="50">
            </div>
            <div class="input">
                <label class="label">Suger (tablespoons)</label>
                <input type="number" name="sugar" min="0" max="5" value="0">
            </div>
            <div class="input">
                <label class="label">Your name</label>
                <input type="text" name="name">
            </div>
            <button type="submit">Order</button>
        </form>
    </div>