<nav>
  <div class="nav-container">
    <div class="nav-title">ICDB</div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/cocktails">Cocktails</a>
      </li>
      <li>
        <a href="/projects/create">Create</a>
      </li>
      <li>
        <a href="/database">Database</a>
      </li>
    </ul>
  </div>
</nav>