<nav>
  <div class="nav-container">
    <div class="nav-title">Your project</div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/projects/create">Create</a>
      </li>
      <li>
        <a href="/database">Database</a>
      </li>
    </ul>
  </div>
</nav>